body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

body * {
    box-sizing: border-box;
}

header {
    background-color: #e0e0e0;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-grow: 1;
}

#main-area {
    background-color: #fff9e3;
    flex-grow: 1;
    padding: 10px;
    flex-basis: 70%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

#main-area h1 {
    align-self: center;
}

.main-area-content-wrapper {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.main-area-content {
    flex-basis: 49%;
    text-align: center;
    padding: 2.5em 0;
    background-color: #feeab8;
}

.main-area-content:last-child {
    flex-basis: 100%;
}

#side-area {
    justify-content: center;
    background-color: #ddeccb;
    padding: 10px;
    flex-basis: 30%;
    display: flex;
}

#side-area h1 {
    align-self: flex-start;
}

footer {
    background-color: #e0e0e0;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 20vh;
}

.footer-section {
    flex-basis: 20%;
    padding: 5em 2em;
    background-color: #fafafa;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;

}